.multiple-country {
    color: #F4ECFF;
    min-height: 70vh;
    width: 84%;
    margin-left: auto;
    padding: 20px 2vmin;
}

.multiple-country-navigator {
    height: 100vh;
    width: 16vw;
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-start;
    padding: 1vmin 2vmin;
    background-color: #171745;
}

.multiple-country-filters {
    align-items: flex-start;
    justify-content: center;
    /* align-items: flex-start;
    border-radius: 10px;
    padding: 1vmin 2vmin;
    margin: 1vmin 0;
    min-height: 30vh;
    width: 50vw;
    max-width: 50vw;
    backdrop-filter: blur(10px) invert(10%);
    background-color: rgba(255,255,255,0.9);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5); */
}

.multiple-country-selector {
    margin: 3vh 0 4vh;
    align-items: flex-start;
    flex-basis: 0;
    /* margin: 1vmin 0;
    justify-content: left; */
    /* max-width: 10vw; */
}

.multiple-country-dropdown {
    border-radius: 3px;
    /* min-width: 10vw;
    max-width: 10vw;
    margin: 0 1vmin; */
}

.multiple-country-dropdown * {
    color: #354B45;
}

.multiple-country-dropdown input {
    min-width: 8vw;
}

#multiple-country-dropdown .Select-arrow-zone {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 40%, rgba(255,255,255,1) 100%);
}

/* .year-range-selector {
    margin: 1vmin 0;
    justify-content: left;
}

.year-range-selector > div {
    align-items: flex-start;
} */

.multiple-country .year-range-label {
    position: relative;
    top: -8vh;
    margin-bottom: 5px;
    font-size: 3vmin;
    font-weight: 400;
}

/* .year-range-label {
    margin-bottom: 5px;
    font-size: 2.5vmin;
    font-weight: 400;
} */

/* .year-range-slider {
    width: 49vw;
}

.year-range-slider * {
    color: #354B45;
} */

/* .sex-filter {
    margin: 1vmin 0;
    justify-content: left;
}

.sex-filter > div {
    justify-content: space-between;
    align-items: flex-start;
}

.sex-filter-label {
    font-size: 2.5vmin;
    font-weight: 400;
}

.sex-filter-radio > label {
    margin-left: 10px;
} */

.metrics {
    flex-grow: 1;
    justify-content: space-evenly;
    min-height: 20vh;
    max-width: 100%;
    border-radius: 10px;
    background-color: hsla(252, 100%, 88%, 0.3);
    backdrop-filter: blur(10px);
}

.metric {
    /* width: 23vw; */
    background-color: #f9f9f9;
    /* backdrop-filter: blur(10px) invert(10%);
    background-color: rgba(255,255,255,0.9); */
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    /* margin: 0 5px 20px; */
}

/* .metric > * {
    min-width: max-content;
} */

/* .metric.col {
    border-radius: 10px;
    min-height: 13vh;
    min-width: 20vw;
}

.metric-label {
    color: #354B45;
    font-size: 2vmin;
    font-weight: 400;
}

.metric-value {
    color: #007860;
    font-size: 4vmin;
    font-weight: 600;
} */

.metric-change {
    color: green;
    font-size: 2vmin;
    font-weight: 400;
}

#highest-suicide-rate {
    color: red;
}

.graph-results {
    padding: 3vmin 2vmin;
    /* height: 40vh; */
    /* width: 45vw; */
}

.graph-result {
    width: 38vw;
    border-radius: 20px;
    overflow: hidden;
}

.world-results {
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    padding: 3vmin 2vmin;
    /* height: 40vh; */
    /* height: 100%; */
    width: 70vw;
    margin: 0 auto
}

.world-result {
    margin: 1vh 0;
    width: 65vw;
    /* min-height: 50vh; */
    /* width: 80%; */
    /* min-width: 23vw;
    max-width: 23vw; */
}

